<template>
  <div id="app">
    <load-progress-bar :percentes="percentes"></load-progress-bar>
     <div class="tile  is-ancestor">
        <div class="tile is-11 is-vertical is-parent">
          <navbar-buttons @next="next" @prev="prev" @reset="reset"></navbar-buttons>
          <quote-lists :quote="quote" @auth="auth"></quote-lists>
          <navbar-buttons v-if="quote.length !== 0" @next="next" @prev="prev" @reset="reset"></navbar-buttons>
        </div>
    <tag-panel :tags="tags" @auth="auth"></tag-panel>
     </div>
  </div>
</template>
<script>
import TagPanel from './components/TagPanel.vue'
import LoadProgressBar from './components/LoadProgressBar.vue'
import QuoteLists from './components/QuoteLists.vue'
import NavbarButtons from './components/NavbarButtons.vue'
import axios from 'axios'
export default {
  name: 'app',
  components: {
    QuoteLists,
    TagPanel,
    LoadProgressBar,
    NavbarButtons
  },
  data () {
    return {
      quote: [],
      pageNumber: 0,
      urls: '',
      tags: [],
      percentes: 0,
      loader: 'hidden'
    }
  },
  created () {
    axios.get('/api/pop-tag')
        .then(({data}) => { this.tags = data })
  },
  methods: {
    move (width) {
      let elem = document.getElementById('myBar')
      elem.style.width = width + '%'
    },
    reset () {
      this.pageNumber = 0
      this.urls = this.urls || '/api/love/'
      this.def(event)
    },
    auth (event) {
      this.pageNumber = 0
      this.def(event)
    },
    next () {
      this.pageNumber += 1
      this.def(null)
    },
    prev () {
      if (this.pageNumber > 0) {
        this.pageNumber -= 1
        this.def()
      } else {
        this.def(null)
      }
    },
    def (e = null) {
      let url = ''
      this.loader = 'visible'
      this.percentes = 0
      if (e === null || typeof e === 'undefined' || e.target.tagName === 'BUTTON') {
        url = this.urls + this.pageNumber
      } else {
        this.urls = e.target.href + '/'
        url = this.urls + this.pageNumber
      }
      axios.get(url, {
        onDownloadProgress: (progressEvent) => {
          if (progressEvent.lengthComputable) {
            this.percentes = progressEvent.loaded / progressEvent.total * 100
          }
        }
      })
        .then(({data}) => {
          if (data.message !== 'no data') {
            this.quote = data
            this.loader = 'hidden'
          } else {
            this.pageNumber -= 1
          }
        })
    }}}
</script>
<style lang="scss">
  @import "stylesheets/sass/main";
</style>
