<template>
  <div  id="myProgress">
            <div id="myBar" :style="{width: percentes +'%'}" ></div>
        </div>
</template>
<script>
export default ({
  name: 'LoadProgressBar',
  props: ['percentes']
})
</script>
<style lang="scss" scoped>
        #myProgress {
            position: fixed;
            top: 0;
            width: 100%;
            left: 0;
            background-color: #ddd;
            z-index: 999;
        }
        #myBar {
            width: 0;
            height: 2px;
            background-color: #6974af;
            transition: width 0.2s ease-in-out;
        }
</style>
