<template>
    <div class="is-child has-text-centered card">
        <button @click="reset" class="button">BEGIN</button>
        <button @click="prev" class="button">Previos</button>
        <button @click="next" class="button">Next</button>
    </div>
</template>
<script>
export default ({
  name: 'NavBar',
  methods: {
    reset (event) {
      this.$emit('reset', event)
    },
    prev (event) {
      this.$emit('prev', event)
    },
    next (event) {
      this.$emit('next', event)
    }
  }
})
</script>
<style lang="scss" scoped>
</style>