<template>
 <div class="tile is-child box">
                    <div v-if="quote" v-for="quo in quote" class="card">
                        <a :href="'/api/author/'+quo.author" @click.prevent="auth" class="title is-4">{{quo.author}}</a>
                        <p>{{ quo.text }}</p>
                        <div class="tags">
                            <a  v-for="tag in (quo.tags).slice(0,10)" @click.prevent="auth" :href="'/api/'+tag" class="tag is-light">{{ tag }} </a>
                        </div>
                    </div>
</div>
</template>
<script>
export default {
  name: 'QuoteLists',
  props: ['quote'],
  methods: {
    auth (event) {
      this.$emit('auth', event)
    }
  }
}
</script>
<style lang="scss" scoped>

</style>