<template>
  <div class="tile is-parent tag-list">
                <div class="tile is-child box">
                    <ul>
                        <li v-for="tag in tags">
                            <a @click.prevent="auth" :href="'/api/'+tag.name">{{ tag.name }}</a>
                        </li>
                    </ul>
                </div>
            </div>
</template>

<script>
export default ({
  name: 'TagPanel',
  props: ['tags'],
  methods: {
    auth (event) {
      this.$emit('auth', event)
    }
  }
})
</script>

<style lang="scss" scoped>
.tag-list {
    right: 0;
    position: fixed;
}
</style>
